*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  min-width: 700px;
}

.page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto auto;
}

.page__menu {
  background: #0b2027;
  width: 100%;
}

.menu__item {
  display: inline-block;
  font-size: 32px;
  color: white;
}

.menu__item--input {
  color: #0b2027;
}

.menu__container--steps {
  text-align: center;
}

.steps__item__btn {
  outline: none;
  height: 100px;
  background: none;
  color: #fff;
  cursor: pointer;
}

.menu__btn {
  outline: none;
  height: 100px;
  width: 120px;
  font-size: 32px;
  background: none;
  color: #fff;
  cursor: pointer;
}

.menu__btn:hover {
  background: #16414f;
}

.menu__btn--settings {
  background: #16414f;
  width: 100px;
}

.menu__container--settings {
  display: none;
}

.menu__container--steps {
  width: 200px;
  font-size: 32px;
}

.menu__container--btn {
  display: inline-block;
}

.page__textarea {
  resize: none;
  outline: none;
  padding: 1%;
  font-size: 21px;
  width: 100%;
  height: calc((100vh - 100px) / 2);
}

.page__textarea--input {
  background: rgb(215, 230, 255);
  border-bottom: 5px solid #16414f;
}

.page__textarea--result {
  background: rgb(170, 200, 255);
}
